body {
  font-family: "Helvetica", sans-serif;
}

h1 {
  background-image: url("./images/pattern.jpeg");
  text-align: center;
  font-size: 100px;
  color: khaki;
}

.item h2 {
  font-size: 32px;
  color: white;
}

.price {
  font-weight: bold;
  color: blue;
}

#brush {
  background-color: rgb(24, 223, 147);
}

#frame {
  background-color: rgb(150, 71, 71);
}

#paint {
  background-color: rgb(93, 139, 158);
}